circle.halo{
	fill: #00FF00;
	stroke: #00FF00;
	stroke-width: "3";	
}
line.halo{
	fill: #00FF00;
	stroke: #00FF00;
	stroke-width: "3";
}

.toolTip{
    border: "2px solid";
    borderRadius: "6px";
    maxWidth: "300px";
	color: white;
	fill: white;
  }
  
text.toolTip{
	color: white;
	fill: white;
}